<?xml version="1.0"?>
<config>
    <modules>
        <Wee_DeveloperToolbar>
            <version>2.0.0.0</version>
        </Wee_DeveloperToolbar>
    </modules>
    <global>
        <blocks>
            <wee_developertoolbar>
                <class>Wee_DeveloperToolbar_Block</class>
            </wee_developertoolbar>
            <wee_developertoolbar_item>
                <class>Wee_DeveloperToolbar_Block_Toolbar_Item</class>
            </wee_developertoolbar_item>
            <core>
                <rewrite>
                    <profiler>Wee_DeveloperToolbar_Block_Profiler</profiler>
                </rewrite>
            </core>
        </blocks>
        <helpers>
            <wee_developertoolbar>
                <rewrite>
                    <data>Wee_DeveloperToolbar_Helper_Data</data>
                </rewrite>
            </wee_developertoolbar>
        </helpers>
        <models>
            <core>
                <rewrite>
                    <resource>Wee_DeveloperToolbar_Model_Resource</resource>
                </rewrite>
            </core>
        </models>
        <events>
            <controller_action_layout_render_before>
                <observers>
                    <wee_developertoolbar_observer_remove_core_profiler_block>
                        <class>Wee_DeveloperToolbar_Model_Observer</class>
                        <method>removeCoreProfilerBlock</method>
                    </wee_developertoolbar_observer_remove_core_profiler_block>
                </observers>
            </controller_action_layout_render_before>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <wee_developertoolbar>
                    <file>wee_developertoolbar.xml</file>
                </wee_developertoolbar>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <wee_developertoolbar>
                <use>standard</use>
                <args>
                    <module>Wee_DeveloperToolbar</module>
                    <frontName>developertoolbar</frontName>
                </args>
            </wee_developertoolbar>
        </routers>
        <layout>
            <updates>
                <wee_developertoolbar>
                    <file>wee_developertoolbar.xml</file>
                </wee_developertoolbar>
            </updates>
        </layout>
    </frontend>
</config>