<?xml version="1.0"?>
<!--
/**
 * @category   PSystem
 * @package    PSystem_CatalogAjax
 * @author     Pascal System <info@pascalsystem.pl>
 * @version    1.0.1
 */
-->
<config>
	<sections>
		<pscatalogajax translate="label" module="psbase">
			<label>Catalog Ajax</label>
			<tab>psystem</tab>
			<frontend_type>text</frontend_type>
			<sort_order>10</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<selector translate="label">
					<label>CSS Selectors</label>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<sort_order>5</sort_order>
					<fields>
						<paginator translate="label,comment">
							<label>Paginator</label>
							<comment><![CDATA[default: .toolbar .pager .pages a]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</paginator>
						<limiter translate="label,comment">
							<label>Limiter</label>
							<comment><![CDATA[default: .toolbar .pager .limiter select]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</limiter>
						<mode translate="label,comment">
							<label>View mode</label>
							<comment><![CDATA[default: .toolbar .sorter .view-mode a]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</mode>
						<sortby translate="label,comment">
							<label>Sort by</label>
							<comment><![CDATA[default: .toolbar .sorter .sort-by select]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</sortby>
						<sortdir translate="label,comment">
							<label>Sort direction</label>
							<comment><![CDATA[default: .toolbar .sorter .sort-by a]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>25</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</sortdir>
						<navfilter translate="label,comment">
							<label>Navigation filter</label>
							<comment><![CDATA[default: .block-layered-nav .block-content ol li a]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</navfilter>
						<navclear translate="label,comment">
							<label>Navigation clear</label>
							<comment><![CDATA[default: .block-layered-nav .block-content .currently .actions a]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>35</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</navclear>
						<navremove translate="label,comment">
							<label>Navigation filter remove</label>
							<comment><![CDATA[default: .block-layered-nav .block-content .currently ol li a]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</navremove>
					</fields>
				</selector>
				<blockcontent>
					<label>Block Content</label>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<sort_order>10</sort_order>
					<fields>
						<name translate="label,comment">
							<label>Name</label>
							<comment><![CDATA[default: content]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</name>
						<selector translate="label,comment">
							<label>Selector for block</label>
							<comment><![CDATA[default: .page .main .col-main]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</selector>
						<replace translate="label,comment">
							<label>Replace selector</label>
							<comment><![CDATA[default: empty]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</replace>
					</fields>
				</blockcontent>
				<blocklayer>
					<label>Block Layer Navigation</label>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<sort_order>15</sort_order>
					<fields>
						<name translate="label,comment">
							<label>Name</label>
							<comment><![CDATA[default: catalog.leftnav]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</name>
						<selector translate="label,comment">
							<label>Selector for block</label>
							<comment><![CDATA[default: .page .main .col-left]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</selector>
						<replace translate="label,comment">
							<label>Replace selector</label>
							<comment><![CDATA[default: .block-layered-nav]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</replace>
					</fields>
				</blocklayer>
				<blocksearchlayer>
					<label>Block Search Layer Navigation</label>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<sort_order>20</sort_order>
					<fields>
						<name translate="label,comment">
							<label>Name</label>
							<comment><![CDATA[default: catalogsearch.leftnav]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</name>
						<selector translate="label,comment">
							<label>Selector for block</label>
							<comment><![CDATA[default: .page .main .col-left]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</selector>
						<replace translate="label,comment">
							<label>Replace selector</label>
							<comment><![CDATA[default: .block-layered-nav]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</replace>
					</fields>
				</blocksearchlayer>
			</groups>
		</pscatalogajax>
	</sections>
</config>