<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<CA_Smspremium>
			<version>0.1.0</version>
		</CA_Smspremium>
	</modules>
	<global>
		<blocks>
			<smspremium>
				<class>CA_Smspremium_Block</class>
			</smspremium>
		</blocks>
		<helpers>
			<smspremiumhelper>
				<class>CA_Smspremium_Helper</class>
			</smspremiumhelper>
		</helpers>
		<models>
			<smspremium>
				<class>CA_Smspremium_Model</class>
				<resourceModel>smspremium_mysql4</resourceModel>
			</smspremium>
			<smspremium_mysql4>
				<class>CA_Smspremium_Model_Mysql4</class>
				<entities>
					<smspremium>
						<table>ca_smspremium</table>
					</smspremium>
				</entities>
			</smspremium_mysql4>
		</models>
		 <resources>
            <smspremium_setup>
                <setup>
                    <module>CA_Smspremium</module>
                </setup>
            </smspremium_setup>
        </resources>
	</global>
	<admin>
        <routers>
			<smspremium>
				<use>admin</use>
				<args>
					<module>CA_Smspremium</module>
					<frontName>smspremium</frontName><!-- No utilizar admin, ya que este esta reservado para toda la parte de administración que trae Magento. -->
				</args>
			</smspremium>
        </routers>
    </admin>
</config>
