<?xml version="1.0"?>

<config>
    <modules>
        <Inchoo_CoffeeFreak>
            <version>0.1.0</version>
        </Inchoo_CoffeeFreak>
    </modules> 
    <global>
        <blocks>
            <coffefreakblock1>
            	<class>Inchoo_CoffeeFreak_Block</class>
           	</coffefreakblock1>  
			<coffefreakblock2>
            	<class>Inchoo_CoffeeFreak_Block_EditSpecial</class>
           	</coffefreakblock2> 
        </blocks>
        <helpers>
            <coffefreakhelper1>
                <class>Inchoo_CoffeeFreak_Helper</class>
            </coffefreakhelper1>
        </helpers>  
	</global>    
	
	<admin>
		<routers>
		   <samplerouter1>
                <use>admin</use>
                <args>
                    <module>Inchoo_CoffeeFreak_AdminControllersHere</module>
                    <frontName>cofeefreak</frontName>
                    
                    <modules>
		         		<sintax after="Inchoo_CoffeeFreak_AdminControllersHere">Mage_Adminhtml</sintax>
		       		</modules>
                </args>
		   </samplerouter1>		     
	     
	     </routers>    	
	</admin>

</config>