<?xml version="1.0"?>
<config>    
    <modules>
        <Alanstormdotcom_Configviewer>
            <version>0.1.0</version>
        </Alanstormdotcom_Configviewer>
    </modules>
    <global><!-- Todos los parámetros de configuración global -->
    	<events>
    		<controller_front_init_routers>
    			<observers><!-- Cuando tengamos el evento controller_front_init_routers -->
    				<alanstormdotcom_configviewer_model_observer>
    					<type>singleton</type>
    					<class>Alanstormdotcom_Configviewer_Model_Observer</class>
    					<method>checkForConfigRequest</method><!-- Llamaremos a este método al recibir el evento. -->
    				</alanstormdotcom_configviewer_model_observer>
    			</observers>
    		</controller_front_init_routers>
    	</events>
    </global>
</config>
