<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Wpr_identifycustomer>
			<version>0.1.0</version>
		</Wpr_identifycustomer>
	</modules>
	<global><!-- Todos los parámetros de configuración global -->
    	<events>
    		<!--  <cms_page_render>-->
    		<controller_front_send_response_before>
    			<observers>
    				<wpr_identifycustomer>
    					<type>singleton</type>
    					<class>Wpr_Identifycustomer_Model_Observer</class>
    					<method>checkCustomer</method><!-- Llamaremos a este método al recibir el evento. -->
    				</wpr_identifycustomer>
    			</observers>
    		</controller_front_send_response_before>
<!--     		</cms_page_render>   		 -->
    	</events>
    </global>
    <frontend>
    	<layout>
    		<update>
    			<file>wpr_identifycustomer.xml</file>
    		</update>
    	</layout>
    </frontend>
	
</config>
